*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
    background-color: #424147;
}

.top-header{
    background-color: white;
    padding: 20px 4%;
}

.top-header .logotipo img{
    max-width: 240px;
}

.top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .btn-social button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.bottom-header nav ul li a{
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 20px;
}

.bottom-header nav ul li a:hover{
background-color: #ed6886;
color: #424147;
box-shadow: inset 0 0 #0000008a;
}

.partition ul{
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.partition ul li{
    padding: 20px 20px;
}

.partition1 ul{
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.partition1 ul li{
    padding: 20px 20px;
}

.partition2 ul{
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.partition2 ul li{
    padding: 20px 20px;
}

.container img{
    height: 100px;
}

.container figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
}
